/* portfolio styles */

#portfolio
	h1
		color: #000


.album
	padding-top: 3rem
	padding-bottom: 3rem
	background-color: #f7f7f7

.imgWrapper
	height: 280px
	width: 100%
	display: block
	img
		position: relative
		top: 50%
		transform: translatey(-50%)

.card
	float: left
	// width: 33.333%
	padding: .75rem
	margin-bottom: 2rem
	border: 0


.card > img
	margin-bottom: .75rem


.card-text
	font-size: 85%
